{% extends 'main_layout.html' %}
{% load static %}

{% block content %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h3 class="m-0 font-weight-bold text-primary">{{education_object.university}} / {{education_object.level}}</h3>
                <a href="{% url 'education_description_new' education_object.id %}" class="btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-solid fa-plus">
                        <span>Add New Description</span>
                    </i>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>number</th>
                                <th>description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in descriptions_ojecsts %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ object.description }}</td>
                                    <td>
                                        <a href="{% url 'education_description_delete' education_object.id object.id %}" class="btn btn-danger btn-circle">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                        <a href="{% url 'education_description_edit' education_object.id object.id %}" class="btn btn-warning btn-circle">
                                            <i class="fas fa-sharp fa-regular fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div>
                        <a href="{% url 'educations_list' %}" class="btn btn-secondary ">
                            <span class="icon text-white-50"></span>
                            <span class="text">Back</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
