{% extends 'main_layout.html' %}
{% load static %}


{% block content %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h3 class="m-0 font-weight-bold text-primary">Profile Information</h3>
        </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">

                        <form method="post" data-bitwarden-watching="1" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-10">
                                    <input type="text" class="form-control form-control-user" id="title"
                                        placeholder="Job Title" name = "title" value="{{ form.title.value|default:'' }}">
                                        {% if form.title.errors %}
                                                <span class="control-label" for="inputError">{{ form.title.errors }}</span>
                                        {% endif %}
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="url" class="form-control form-control-user" id="github_link"
                                        placeholder="Github Link" name = "github_link" value="{{ form.github_link.value|default:'' }}">
                                        {% if form.github_link.errors %}
                                                <span class="control-label" for="inputError">{{ form.github_link.errors }}</span>
                                        {% endif %}
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="tel" class="form-control form-control-user" id="phone_number"
                                        placeholder="Phone Number" name = "phone_number" value="{{ form.phone_number.value|default:'' }}">
                                        {% if form.phone_number.errors %}
                                                <span class="control-label" for="inputError">{{ form.phone_number.errors }}</span>
                                        {% endif %}
                                </div>
                                <div class="col-sm-6">
                                    <input type="url" class="form-control form-control-user" id="linkedin_link"
                                        placeholder="Linkedin Link" name = "linkedin_link" value="{{ form.linkedin_link.value|default:'' }}">
                                        {% if form.linkedin_link.errors %}
                                                <span class="control-label" for="inputError">{{ form.linkedin_link.errors }}</span>
                                        {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="city"
                                        placeholder="City" name = "city" value="{{ form.city.value|default:'' }}">
                                        {% if form.city.errors %}
                                                <span class="control-label" for="inputError">{{ form.city.errors }}</span>
                                        {% endif %}
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-10">
                                    <input type="text" class="form-control form-control-user" id="country"
                                        placeholder="Country" name = "country" value="{{ form.country.value|default:'' }}">
                                        {% if form.country.errors %}
                                                <span class="control-label" for="inputError">{{ form.country.errors }}</span>
                                        {% endif %}
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-10">
                                    <input type="file" class="form-control form-control-user" id="image"
                                        placeholder="Image" name = "image" accept="image/*" value="{{ form.image.value|default:'' }}">
                                        {% if form.image.errors %}
                                                <span class="control-label" for="inputError">{{ form.image.errors }}</span>
                                        {% endif %}
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="about_me"
                                        placeholder="About Me" name = "about_me" value="{{ form.about_me.value|default:'' }}">
                                        {% if form.about_me.errors %}
                                                <span class="control-label" for="inputError">{{ form.about_me.errors }}</span>
                                        {% endif %}
                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="{% url 'profile_detail' %}" class="btn btn-danger ">
                                <span class="icon text-white-50">
                                </span>
                                <span class="text">
                                    Cancel
                                    </span>
                            </a>
                            <div>
                            </div>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
