{% extends 'main_layout.html' %}
{% load static %}

{% block content %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card shadow mb-4">
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Profile Information</h6>
                <a href="{% url 'edit_profile_detail' %}" class="btn btn-sm btn-primary shadow-sm">
                    <i class=" fa-sm text-white-50"></i> Edit
                </a>
            </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Image</td>
                                    {% if user.image %}
                                    <td><img src="{{ user.image.url  }}" alt="{{profile.name}}" style="max-width: 200px;"></td>
                                    {% else %}
                                        <td>None</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Job title</td>
                                    <td>{{user.title}}</td>
                                </tr>
                                <tr>
                                    <td>Github link</td>
                                    <td>{{user.github_link}}</td>
                                </tr>
                                <tr>
                                    <td>Linkedin link</td>
                                    <td>{{user.linkedin_link}}</td>

                                </tr>
                                <tr>
                                    <td>Phone number</td>
                                    <td>{{user.phone_number}}</td

                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td>{{user.country}}</td>

                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>{{user.city}}</td>

                                </tr>
                                <tr>
                                    <td>About me</td>
                                    <td>{{user.about_me}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <a href="{% url 'home' %}" class="btn btn-secondary ">
                                <span class="icon text-white-50">
                                </span>
                                <span class="text">
                                    Back
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock content %}
